{% extends "layout.html" %}
{% block body %}
  <div class="o-content">
    <section class="c-project-group c-project-group--underlined">
      <h2 class="c-project-group__title"> 
        Websites 
      </h2>
      <div class="c-project-group__projects">
        <div class="c-project">
          <a href="http://visitelpaso.com">
            <div class="c-project__image">
              <img src="{{ url_for('portfolio.static', filename='images/visitelpaso.png') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                Visit El Paso
              </h3>
              <h4 class="c-project__subtitle">
                Back-end, Front-end, Maintenance </h4>
            </div>
          </a>
        </div>

        <div class="c-project">
          <a href="http://pdnhf.org">
            <div class="c-project__image">
              <img src="{{ url_for('portfolio.static', filename='images/pdnhf.png') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                Paso del Norte Health Foundation 
              </h3>
              <h4 class="c-project__subtitle">
                Back-end, Front-end, Maintenance
              </h4>
            </div>
          </a>
        </div>

        <div class="c-project">
          <a href="http://epcountyvotes.com">
            <div class="c-project__image">
              <img src="{{ url_for('portfolio.static', filename='images/epcountyvotes.png') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                El Paso County Elections Department
              </h3>
              <h4 class="c-project__subtitle">
                Back-end, Front-end, Maintenance
              </h4>
            </div>
          </a>
        </div>

        <div class="c-project">
          <a href="http://patriotmortgage.info"> 
            <div class="c-project__image">
              <img src="{{ url_for('portfolio.static', filename='images/patriotmortgage.png') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                Patriot Mortgage
              </h3>
              <h4 class="c-project__subtitle">
                Front-end, Back-end, Maintenance
              </h4>
            </div>
          </a>
        </div>

        <div class="c-project">
          <a href="http://plazaclassic.com">
            <div class="c-project__image">
              <img src="{{ url_for('portfolio.static', filename='images/plazaclassic.png') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                Plaza Classic Film Festival
              </h3>
              <h4 class="c-project__subtitle">
                Back-end, Maintenance
              </h4>
            </div>
          </a>
        </div>

        <div class="c-project">
          <a href="http://tropicanahomes.com">
            <div class="c-project__image">
              <img src="{{ url_for('portfolio.static', filename='images/tropicanahomes.png') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                Tropicana Homes
              </h3>
              <h4 class="c-project__subtitle">
                Back-end, Maintenance
              </h4>
            </div>
          </a>
        </div>

        <div class="c-project">
          <a href="http://elpasolive.com">
            <div class="c-project__image">
              <img src="{{ url_for('portfolio.static', filename='images/elpasolive.png') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                El Paso Live
              </h3>
              <h4 class="c-project__subtitle">
                Back-end, Maintenance
              </h4>
            </div>
          </a>
        </div>

        <div class="c-project">
          <a href="http://projectarriba.org"> 
            <div class="c-project__image">
              <img src="{{ url_for('portfolio.static', filename='images/projectarriba.png') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                Project Arriba
              </h3>
              <h4 class="c-project__subtitle">
                Back-end, Maintenance
              </h4>
            </div>
          </a>
        </div>

        <div class="c-project">
          <a href="http://galfashion.com"> 
            <div class="c-project__image">
              <img src="{{ url_for('portfolio.static', filename='images/galfashion.png') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                GAL Fashion
              </h3>
              <h4 class="c-project__subtitle">
                Back-end, Maintenance
              </h4>
            </div>
          </a>
        </div>
      </div>
    </section>

    <section class="c-project-group">
      <h2 class="c-project-group__title">
        Projects
      </h2>
      <div class="c-project-group__projects">
        <div class="c-project">
          <a href="https://github.com/awernick/TweetsOfJoyAndFury2016"> 
            <div class="c-project__image">
                <img src="{{ url_for('portfolio.static', 
                filename='images/tweets-of-joy.jpeg') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                Tweets of Joy and Fury 2016
              </h3>
              <h4 class="c-project__subtitle">
                Flask, iOS (Swift), Python NLK
              </h4>
            </div>
          </a>
        </div>

        <div class="c-project">
          <a href="https://github.com/awernick/FeelyBot"> 
            <div class="c-project__image">
              <img src="{{ url_for('portfolio.static', filename='images/feely-bot.jpg') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                FeelyBot
              </h3>
              <h4 class="c-project__subtitle">
                Jibo and NodeJS <br/>
                Best Hack to #HackerHarrasment
              </h4>
            </div>
          </a>
        </div>



        <div class="c-project">
          <a href="https://github.com/awernick/retabber"> 
            <div class="c-project__image">
              <img src="{{ url_for('portfolio.static', filename='images/retabber.png') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                reTabber
              </h3>
              <h4 class="c-project__subtitle">
                Chrome Extension
              </h4>
            </div>
          </a>
        </div>

        <div class="c-project">
          <a href="https://github.com/awernick/battleship-hs"> 
            <div class="c-project__image">
              <img src="{{ url_for('portfolio.static', filename='images/battleship-hs.png') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                Battleship Haskell
              </h3>
              <h4 class="c-project__subtitle">
                CLI
              </h4>
            </div>
          </a>
        </div>

        <div class="c-project">
          <a href="https://github.com/awernick/utep_sso"> 
            <div class="c-project__image">
              <img src="{{ url_for('portfolio.static', filename='images/utep-sso.png') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                UTEP SSO
              </h3>
              <h4 class="c-project__subtitle">
                Ruby Gem
              </h4>
            </div>
          </a>
        </div>

        <div class="c-project">
          <a href="https://github.com/awernick/FifteenPuzzle-android"> 
            <div class="c-project__image">
              <img src="{{ url_for('portfolio.static', filename='images/fifteen-puzzle.png') }}" />
            </div>
            <div class="c-project__description">
              <h3 class="c-project__title"> 
                FifteenPuzzle
              </h3>
              <h4 class="c-project__subtitle">
                Android
              </h4>
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
