{% extends "layout.html" %}
{% block body %}
  <div class="o-content">
    <!--Technologies  -->
    <section class="o-section o-section--first">
      <div class="o-section__title">
        <h2> Technologies </h2>
      </div>
      <div class="o-section__content">
        <div class="o-section__list">
          <h3> Languages: </h3>
          <ul>
            <li>C</li>
            <li>Ruby</li>
            <li>Java</li>
            <li>Swift</li>
            <li>Python</li>
            <li>Javascript</li>
            <li>PHP</li>
            <li>HTML5 / CSS3</li>
            <li>SASS / LESS</li>
            <li>SQL / NoSQL</li>
          </ul>
        </div>

        <div class="o-section__list">
          <h3> Frameworks / Platforms: </h3>
          <ul>
            <li>Ruby on Rails</li>
            <li>Flask</li>
            <li>Node JS / Express JS</li>
            <li>React.JS</li>
            <li>Bourbon / Neat</li>
            <li>Bootstrap</li>
            <li>Android</li>
            <li>iOS</li>
          </ul>
        </div>
      </div>
    </section>

    
    
    <!-- Work Experience -->
    <section class="o-section">
      <div class="o-section__title">
        <h2>Work Experience</h2>
      </div>

      <div class="o-section__content">
        <div class="c-entry">
          <h3 class="c-entry__header"> Ruby on Rails Developer </h3>
          <h4 class="c-entry__subheader"> 
            Viva + Impulse Creative Co., June 2015 - Present 
          </h4>
          <p class="c-entry__description"> 
          Developed and maintained large scale Rails web apps for clients 
          such as Rudolph Mazda and the El Paso Community Foundation. Designed 
          custom in-house, user-friendly content management system used in all 
          current and future applications. Utilized bleeding-edge technologies 
          and frameworks such as React.js to create award-winning reactive and 
          intuitve user-interfaces.
          </p>
        </div>

        <div class="c-entry">
          <h3 class="c-entry__header"> Web / Mobile Developer </h3>
          <h4 class="c-entry__subheader">
            UTEP Academic Technologies, May 2014 - March 2015
          </h4>
          <p class="c-entry__description">
          Designed cross-platform mobile applications using di erent
          technologies including Flash, Java and Objective-C. Developed web apps
          for internal o ce use and third-party customers utilizing databases, 
          MVC frameworks and mobile-responsive designs. Introduced version 
          control into department’s workflow to optimize code quality and 
          promote team collaboration.
          </p>
        </div>

        <div class="c-entry">
          <h3 class="c-entry__header"> Desktop Software Developer </h3>
          <h4 class="c-entry__subheader">
            UTEP Pre-Engineering, October 2013 - July 2014
          </h4>
          <p class="c-entry__description">
          Devised desktop applications to accelerate new student registration 
          workflow during orientations for the Engineering department.
          Actively worked as a liaison between the Pre-Engineering department 
          and the Computer Science to establish cross-department communication 
          and cooperation.
          </p>
        </div>

        <div class="c-entry">
          <h3 class="c-entry__header"> Computer Sales Associate </h3>
          <h4 class="c-entry__subheader">
            Best Buy, September 2012 - February 2013
          </h4>
          <p class="c-entry__description">
          Informed customers about the dierent products in the computer and 
          tablet department. Organized and cleaned the department after closing 
          hours, ensuring products were correctly stocked and displayed in their 
          appropriate section. Sold computers and tablets using effective 
          customer service skills, and social interactions.
          </p>
        </div>
      </div>
    </section>

    <!-- Education -->
    <section class="o-section o-section">
      <div class="o-section__title">
        <h2>Education</h2>
      </div>
      <div class="o-section__content">
        <div class="c-entry">
          <h3 class="c-entry__header"> Bachelor of Science in Computer Science </h3>
          <h4 class="c-entry__subheader">
            University of Texas at San Antonio
          </h4>
          
          <p class="c-entry__description">
          Working towards the completion of a Bachelor’s degree in Computer 
          Science aiming to graduate with Honors and being part of the Dean’s 
          List.
          </p>
          <h4 class="c-entry__postinfo">
            GPA: 3.36, Graduation: May 2018
          </h4>
        </div>

        <div class="c-entry">
          <h3 class="c-entry__header"> Bachelor of Science in Computer Science </h3>
          <h4 class="c-entry__subheader">
            University of Texas at El Paso 
          </h4>
          
          <p class="c-entry__description">
          Transfered to the University of Texas at San Antonio to complete a 
          Bachelors of Science in Computer Science with a concentration in
          Cyber Security.
          </p>
          <h4 class="c-entry__postinfo">
            GPA: 3.20, Graduation: Transfer
          </h4>
        </div>

        <div class="c-entry">
          <h3 class="c-entry__header"> Associate of Science in Computer Science </h3>
          <h4 class="c-entry__subheader">
            El Paso Community College
          </h4>
          
          <p class="c-entry__description">
          Recieved an Associate’s degree in Computer Science with Honors 
          before graduating from High School.
          </p>
          <h4 class="c-entry__postinfo">
            GPA: 3.52, Graduation: May 2013
          </h4>
        </div>

        <div class="c-entry">
          <h3 class="c-entry__header"> High School Degree </h3>
          <h4 class="c-entry__subheader">
            Mission Early College High School
          </h4>
          
          <p class="c-entry__description">
          Participated in a special program which allows students to finish an 
          Associate’s degree by the time they become Juniors in high school. 
          </p>
          <h4 class="c-entry__postinfo">
            GPA: 3.80, Graduation: May 2014
          </h4>
        </div>
      </div>
    </section>

    <!-- Coursework / Awards -->
    <section class="o-section">
      <div class="o-section__title">
        <h2> Relevant Coursework</h2>
      </div>
      <div class="o-section__content">
        <div class="o-section__list o-section__list--full">
          <ul>
            <li> Mobile Application Development </li>
            <li> Data Structures </li>
            <li> Advanced Object Oriented Programming </li>
            <li> Database Management </li>
            <li> Computer Security </li>
            <li> Software Engineering: Requirements Eng </li>
            <li> Programming Languages </li>
            <li> Systems Programming </li>
            <li> Application Programming </li>
            <li> Principles of Cybersecurity </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Awards -->
    <section class="o-section o-section--last">
      <div class="o-section__title">
        <h2> Awards </h2>
      </div>
      <div class="o-section__content">
        <div class="o-section__list o-section__list--full">
          <ul>
            <li> MLH Prime - Best Hack to #HackHarassment </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
