{% extends "layout.html" %}
{% block body %}
  <div class="o-content">

    <!--Technologies  -->
    <section class="o-section o-section--first">
      <div class="o-section__title">
        <h2> Technologies </h2>
      </div>
      <div class="o-section__content">
        <div class="o-section__list">
          <h3> Languages: </h3>
          <ul>
            <li>C</li>
            <li>Ruby</li>
            <li>Java</li>
            <li>Swift</li>
            <li>Python</li>
            <li>PHP</li>
            <li>Javascript / Typescript</li>
            <li>HTML5 / CSS3</li>
            <li>SASS / LESS</li>
            <li>SQL / NoSQL</li>
          </ul>
        </div>

        <div class="o-section__list">
          <h3> Frameworks / Platforms: </h3>
          <ul>
            <li>Ruby on Rails</li>
            <li>Flask</li>
            <li>Node.js</li>
            <li>React.js</li>
            <li>Bourbon / Neat</li>
            <li>Bootstrap</li>
            <li>Android</li>
            <li>iOS</li>
          </ul>
        </div>
      </div>
    </section>

    
    <!-- Work Experience -->
    <section class="o-section">
      <div class="o-section__title">
        <h2>Work Experience</h2>
      </div>

      <div class="o-section__content">
        <div class="c-entry">
          <h3 class="c-entry__header"> Software Engineering Intern </h3>
          <h4 class="c-entry__subheader"> 
            BMW Technology Group, May 2015 - November 2017
          </h4>
          <p class="c-entry__description"> 
          <ul>
            <li>Designed and implemented a custom content management system (Impulse CMS) that powers 20+ web applications for government agencies, and large businesses.  </li>
            <li>Developed web applications, services, and REST APIs using current and legacy versions of Ruby on Rails.</li>
            <li>Utilized front-end frameworks (Bourbon, Bootstrap) to create user experiences based on designer specifications.</li>
            <li>Performed remote server management using Capistrano, and Bash scripting.</li>
          </ul>
          </p>
        </div>

        <div class="c-entry">
          <h3 class="c-entry__header"> Full-stack Developer </h3>
          <h4 class="c-entry__subheader"> 
            Viva + Impulse Creative Co., June 2015 - August 2017
          </h4>
          <p class="c-entry__description"> 
          <ul>
            <li>
              Designed and implemented a custom content management system (Impulse CMS) that powers 20+ web applications for government agencies, 
              and large businesses.  
            </li>
            <li>Developed web applications, services, and REST APIs using current and legacy versions of Ruby on Rails.</li>
            <li>Utilized front-end frameworks (Bourbon, Bootstrap) to create user experiences based on designer specifications.</li>
            <li>Performed remote server management using Capistrano, and Bash scripting.</li>
          </ul>
          </p>
        </div>

        <div class="c-entry">
          <h3 class="c-entry__header"> Full-stack / Mobile Developer </h3>
          <h4 class="c-entry__subheader">
            UTEP Academic Technologies, May 2014 - March 2015
          </h4>
          <p class="c-entry__description">
          <ul>
            <li>Created proof-of-concept projects using embedded systems such as Arduinos and Raspberry Pis.</li>
            <li>Utilized Ruby on Rails, PHP, and ASP.NET to create backend systems for various departments in the university.</li>
            <li>Developed native and hybrid mobile applications for Android and iOS that integrate to custom-built APIs.</li>
            <li>Managed and orchestrated servers running IIS, Apache, NGINX, and MySQL services.</li>
          </ul>
          </p>
        </div>

        <div class="c-entry">
          <h3 class="c-entry__header"> Desktop Software Developer </h3>
          <h4 class="c-entry__subheader">
            UTEP Pre-Engineering, October 2013 - July 2014
          </h4>
          <p class="c-entry__description">
          <ul>
            <li>Devised desktop applications to accelerate new student registration workflow during orientations for the Engineering department.</li>
            <li>Actively worked as a liaison between the Pre-Engineering department and the Computer Science to establish cross-department communication and cooperation.</li>
          </ul>
          </p>
        </div>
      </div>
    </section>

    <!-- Education -->
    <section class="o-section o-section">
      <div class="o-section__title">
        <h2>Education</h2>
      </div>
      <div class="o-section__content">
        <div class="c-entry">
          <h3 class="c-entry__header"> 
            Bachelor of Science in Computer Science 
          </h3>
          <h4 class="c-entry__subheader">
            University of Texas at San Antonio
          </h4>
          
          <p class="c-entry__description">
          Working towards the completion of a Bachelor’s degree in Computer 
          Science aiming to graduate with Honors and being part of the Dean’s 
          List.
          </p>
          <h4 class="c-entry__postinfo">
            GPA: 3.62, Graduation: May 2018
          </h4>
        </div>

        <div class="c-entry">
          <h3 class="c-entry__header"> 
            Bachelor of Science in Computer Science 
          </h3>
          <h4 class="c-entry__subheader">
            University of Texas at El Paso 
          </h4>
          
          <p class="c-entry__description">
          Transferred to the University of Texas at San Antonio to complete a 
          Bachelors of Science in Computer Science with a concentration in
          Cyber Security.
          </p>
          <h4 class="c-entry__postinfo">
            GPA: 3.20, Graduation: Transfer
          </h4>
        </div>

        <div class="c-entry">
          <h3 class="c-entry__header"> Associate of Science in Computer Science </h3>
          <h4 class="c-entry__subheader">
            El Paso Community College
          </h4>
          
          <p class="c-entry__description">
          Received an Associate’s degree in Computer Science with Honors 
          before graduating from High School.
          </p>
          <h4 class="c-entry__postinfo">
            GPA: 3.52, Graduation: May 2013
          </h4>
        </div>

        <div class="c-entry">
          <h3 class="c-entry__header"> High School Degree </h3>
          <h4 class="c-entry__subheader">
            Mission Early College High School
          </h4>
          
          <p class="c-entry__description">
          Participated in a special program which allows students to finish an 
          Associate’s degree by the time they become Juniors in high school. 
          </p>
          <h4 class="c-entry__postinfo">
            GPA: 3.80, Graduation: May 2014
          </h4>
        </div>
      </div>
    </section>

    <!-- Coursework / Awards -->
    <section class="o-section">
      <div class="o-section__title">
        <h2> Relevant Coursework</h2>
      </div>
      <div class="o-section__content">
        <div class="o-section__list o-section__list--full">
          <ul>
            <li> Mobile Application Development </li>
            <li> 
              Data Structures 
              <a href="https://github.com/awernick/CS2123-Exercises">
                (Github)
              </a>
            </li>
            <li> Advanced Object Oriented Programming </li>
            <li> Database Management </li>
            <li> Computer Security </li>
            <li> Software Engineering: Requirements Eng </li>
            <li> Programming Languages </li>
            <li> Systems Programming </li>
            <li> Application Programming </li>
            <li> Principles of Cybersecurity </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Awards -->
    <section class="o-section o-section--last">
      <div class="o-section__title">
        <h2> Awards </h2>
      </div>
      <div class="o-section__content">
        <div class="o-section__list o-section__list--full">
          <ul>
            <li> MLH Prime - Best Hack to #HackHarassment </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
