.jumbotron
  .col-md-1
  .col-xs-12.col-md-10.center-block.biography
    = image_tag 'alan_face_square.png', class: 'img-square face'
    Hello, my name is Alan Wernick. I am currently a Computer Science student seeking a Bachelor's degree at the
    University of Texas at El Paso. I work as a Mobile and Web Developer at Academic Technologie's Creative
    Studios branch within the University where I develop Android and IOS applications along with Ruby on Rails and
    Laravel web apps to be used across the University. Soon, I will also start working at BrightSolTech as a
    Ruby on Rails web developer.
    %br
    A few months ago I fell in love with a lovely lady called the Ruby programming language. Since then, I have focused
    all my time to improve my skills as a Ruby programmer to be able to create beautiful and solid web back-end paltforms
    as well as user interfaces.
    %br
    I am very passionate about beautiful and great user experience. One of my goals is for one day to create a a maginificent
    user interface that will make people's lives easier. I was born in Ciudad Juarez, Chihuahua, Mexico but I live currently
    live in El Paso, Texas.
  .col-md-1
