.content
  .jumbotron

    .row.section{ style: 'padding-top: 0' }
      .col-md-1
      .col-md-3.category
        Technologies
      .col-md-7
        .col-md-6
          %h3.subcategory Languages:
          %ul
            %li Ruby
            %li Java
            %li C#
            %li Objective-C
            %li C / C++
            %li HTML5 / CSS3
            %li Javascript
            %li PHP
            %li Sass / LESS
            %li HAML
            %li SQL
            %li NoSQL

        .col-md-6
          %h3.subcategory Tools / Frameworks:
          %ul
            %li Ruby on Rails
            %li SVN
            %li Git
            %li Bootrstrap
            %li Laravel
            %li Android
            %li IOS
            %li AngularJS

    .row.section
      .col-md-1
      .col-md-3.category
        Work Experience
      .col-md-7
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet sit amet mauris ut efficitur. Aenean non ornare ipsum. Duis vitae finibus sem. Fusce congue dolor dignissim velit maximus faucibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ac iaculis sem. Proin faucibus eu quam ultricies condimentum. Nam facilisis magna nec est vehicula auctor.

        Sed non commodo purus. Maecenas tempor erat ut est lobortis, ac posuere ex placerat. Sed vehicula vitae ante ut rhoncus. Nulla blandit leo volutpat, cursus leo iaculis, tincidunt ante. Mauris cursus eget lacus ut tristique. Maecenas neque enim, scelerisque et eleifend malesuada, gravida sed mauris. Ut augue mi, pretium at mi sed, venenatis tincidunt lectus. Suspendisse sed tellus a sem vestibulum ultricies quis in ex. Fusce egestas condimentum arcu, sed varius ligula euismod eget. Sed molestie placerat justo. Vestibulum malesuada eget libero nec dictum. Ut sodales interdum lacus.

    .row.section.last
      .col-md-1
      .col-md-3.category
        Education
      .col-md-7
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet sit amet mauris ut efficitur. Aenean non ornare ipsum. Duis vitae finibus sem. Fusce congue dolor dignissim velit maximus faucibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ac iaculis sem. Proin faucibus eu quam ultricies condimentum. Nam facilisis magna nec est vehicula auctor.

        Sed non commodo purus. Maecenas tempor erat ut est lobortis, ac posuere ex placerat. Sed vehicula vitae ante ut rhoncus. Nulla blandit leo volutpat, cursus leo iaculis, tincidunt ante. Mauris cursus eget lacus ut tristique. Maecenas neque enim, scelerisque et eleifend malesuada, gravida sed mauris. Ut augue mi, pretium at mi sed, venenatis tincidunt lectus. Suspendisse sed tellus a sem vestibulum ultricies quis in ex. Fusce egestas condimentum arcu, sed varius ligula euismod eget. Sed molestie placerat justo. Vestibulum malesuada eget libero nec dictum. Ut sodales interdum lacus.
