.jumbotron
  .row.section{ style: 'padding-top: 0' }
    .col-md-3.category
      Technologies
    .col-md-1
    .col-md-8
      .col-md-6
        %h3.subcategory Languages:
        %ul
          %li Ruby
          %li Java
          %li C#
          %li Objective-C
          %li C / C++
          %li HTML5 / CSS3
          %li Javascript
          %li PHP
          %li Sass / LESS
          %li HAML
          %li SQL
          %li NoSQL

      .col-md-6
        %h3.subcategory Tools / Frameworks:
        %ul
          %li Ruby on Rails
          %li SVN
          %li Git
          %li Bootrstrap
          %li Laravel
          %li Android
          %li IOS
          %li AngularJS

  .row.section
    .col-md-3.category
      Work Experience
    .col-md-1
    .col-md-8

      .employment
        .job-heading Web/Mobile Developer
        .employer-desc Academic Technologies, El Paso, TX, May 2014 - Present

        Designed cross-platform mobile applications and using dierent
        technologies including Flash, Java and Objective-C. Developed web apps
        for internal oce use and third-party customers utilizing databases, MVC
        frameworks and mobile-responsive designs. Introduced version control into
        departments workflow to optimize code quality and promote team effort.


      .employment
        .job-heading Desktop Software Developer
        .employer-desc UTEP Pre-Engineering, El Paso, TX, October 2013 - July 2014

        Devised desktop applications to accelerate new student registration
        workflow during orientations for the Engineering deptartment.
        Actively worked as a liason between the Pre-Engineering department and
        the Computer Science to establish cross-department comunication and
        cooperation.

      .employment
        .job-heading Sales Associate
        .employer-desc Best Buy, El Paso, TX, September 2012 - February 2013

        Informed customers about the dierent products in the computer and tablet
        department. Organized and cleaned the department after closing hours, ensuring
        products were correctly stocked and displayed in their appropriate section. Sold
        computers and tablets using eective customer service skills, and social interactions.

  .row.section.last
    .col-md-3.category
      Education
    .col-md-1
    .col-md-8
      Working towards the completion of a Bachelor’s degree in Computer Science
      aiming to graduate with Honors and being part of the Dean’s List.
      Graduation: May 2016

      %br
      %br

      Recieved an Associate’s degree in Computer Science with Honors before
      graduating from High School.
      Graduattion: May 2013

      %br
      %br

      Participated in a special program which allows students to finish an Associate’s
      degree by the time they become Juniors in high school.
      Graduation: May 2014
