<nav class="c-menu">
  <div class="c-menu__logo">
    <a href="/">Alan Wernick</a>
  </div>
  <ul class="c-menu__items">
     <li class="c-menu__item">
       <a href="{{ url_for('index') }}">Home </a>
     </li>

     <li class="c-menu__item">
       <a href="{{ url_for('resume') }}">Resume </a>
     </li>

     <li class="c-menu__item">
       <a href="{{ url_for('portfolio') }}">Portfolio </a>
     </li>

     <li class="c-menu__item">
       <a href="{{ url_for('contact') }}">Contact </a>
     </li>
  </ul>
</nav>
