<nav class="c-menu">
  <div class="c-menu__logo">
    <a href="/">Alan Wernick</a>
  </div>

  <div class="c-menu__toggle">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>

  <ul class="c-menu__items">
     <li class="c-menu__item">
       <a href="{{ url_for('portfolio.index') }}">Home </a>
     </li>

     <li class="c-menu__item">
       <a href="{{ url_for('portfolio.resume') }}">Resume </a>
     </li>

     <li class="c-menu__item">
       <a href="{{ url_for('portfolio.portfolio') }}">Portfolio </a>
     </li>

     <li class="c-menu__item">
       <a href="{{ url_for('portfolio.contact') }}">Contact </a>
     </li>
  </ul>
</nav>
