.jumbotron
  .col-md-1
  .col-xs-12.col-md-10.center-block.biography
    = image_tag 'alan_face_uno_gray.png', class: 'img-square face'
    %p
      Hi! My name is Alan Wernick and being a developer is my passion. I have a strong devotion for anything relating to computers, technology, and electronics. 
      I am a skilled programmer with keen critical thinking skills and expertise in mobile and web application development. 

    %p
      Rails aficionado, homebrewer, and active supporter of open-source software are a few adjectives that describe me as a developer.
      I spend my free time either programming, learning new frameworks or languages, or reading books that will help me become a better
      programmer. 

    %p
      I currently live in San Antonio, Texas and work as a Rails developer for Viva + Impulse Creative Co. I am in my senior year of
      my Bachelor's Degree in Computer Science with a concentration in Cyber Security.
