/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import 'custom.css.scss';
@import 'portafolio.css.scss';

$background: #FFF;


/************** Header **************/


.navbar-default {
  background-color: $background;
  border: 0px;

  .navbar-brand {
    font-size: 32pt;
    font-family: 'Proxima Nova';
    color: #333;

    @media (max-width: $screen-sm-min) {
      font-size: 24pt;
    }
  }

  .navbar-toggle {
    border-color: #FFF;
  }
}

.container-underlined {
  margin-top: 25px;
  padding-bottom: 10px;
  background-color: $background;
  border-bottom: 1px solid #D3D3D3;
}


/************** Body **************/
.content {
  padding-top: 90px;

  .jumbotron {
    background-color: $background;
    font-size: 18px;
  }
}


/************** Foooter **************/


.footer {
  margin-top: 68px;
  margin-bottom: 20px;

  .container {
    border-top: 1px solid #D3D3D3;
  }
}

.social-media-icons {
  float:right;
  padding-top: 20px;
}

.rounded-social-media-btn {
  background: #000;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
  float:left;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;

  &:hover {
    background-color: #333;
  }
}

.ico-fix {
  margin-top: 7px;
  margin-left: 1px;
  font-size: 17px !important;
  color: #FFF;

  &:hover {
    color: #FFF;
    text-decoration: none;
  }
}

.address {
  color: #777;
  padding-top: 10px;
  float: left;
}


/************** Fonts **************/


 @font-face {
   font-family: 'Proxima Nova';
   src: font-url('ProximaNova-Regular.otf')  format("opentype");
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'Proxima Nova';
   src: font-url('ProximaNova-Light.otf')  format("opentype");
   font-weight: 200;
   font-style: normal;
 }

 @font-face {
   font-family: 'Proxima Nova';
   src: font-url('ProximaNova-Semibold.otf')  format("opentype");
   font-weight: 600;
   font-style: normal;
 }

 @font-face {
   font-family: 'Proxima Nova';
   src: font-url('ProximaNova-Bold.otf')  format("opentype");
   font-weight: 700;
   font-style: normal;
 }

 body {
   font-family: "Proxima Nova", Arial, sans-serif;
   font-weight: 200;
   text-rendering: optimizeLegibility;
 }
