// Place all the styles related to the Portafolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: #FFF;

.jumbotron {
  background-color: $background;
  font-size: 20px;
}

.face {
  width: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}

.container-underlined {
  margin-top: 25px;
  padding-bottom: 10px;
  background-color: $background;
  border-bottom: 1px solid #D3D3D3;
}

.navbar-default {
  background-color: #FFF;
  border: 0px;

  .navbar-brand {
    font-size: 32pt;
    font-family: 'Proxima Nova';
    color: #333;
  }
}

.footer {
  margin-top: 68px;
  margin-bottom: 20px;

  .container {
    border-top: 1px solid #D3D3D3;
  }
}

.social-media-icons {
  float:right;
  padding-top: 20px;
}
.rounded-social-media-btn {
  background: #000;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
  float:left;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;

  &:hover {
    background-color: #333;
  }
}

.ico-fix {
  margin-top: 7px;
  margin-left: 1px;
  font-size: 17px !important;
  color: #FFF;

  &:hover {
    color: #FFF;
    text-decoration: none;
  }
}

.address {
  color: #777;
  padding-top: 10px;
  float: left;
}
