@include object('container') {
  @include outer-container(1170px);
}

@include object('content') {
  @include pad(120px 60px 60px);
  @include row();

  @include element('subtitle') {
    font-size: 1.3em;
    margin-bottom: 30px;
  }
}

@include object('biography') {
  @include shift(1);
  @include span-columns(10);
  line-height: em(26);
  font-weight: 200;
  text-align: justify;
  margin-bottom: 60px;

  @include element('image') {
    width: 200px;
    float: left;
    margin: 28px 30px 20px 0px;
  }
}  
