@import "bourbon";
@import "neat";
@import "bem-constructor";

@import "variables";
@import "typography";
@import "layout";

// Components
@import "components/nav";
@import "components/footer";
@import "components/section";

// Global Styles
body {
	font-family: 'Proxima Nova' $helvetica;
  font-weight: 400;
  color: $black;
  text-rendering: optimizeLegibility;
  font-size: 18px;
}
